.git/
documentation/
plugins/.gitkeep
.dockerignore
.editorconfig
.eslintignore
.eslintrc
.gitattributes
.gitignore
.nvmrc
.tern-project
CHANGELOG.md
config-sample.cson
Dockerfile
LICENSE.md
README.md

plugins/music/.gitignore
plugins/music/LICENSE.md
plugins/music/README.md

music/
avatar.png
config.cson

node_modules/
npm-debug.log*
yarn-error.log

# System files
.DS_Store
Thumbs.db
desktop.ini

# IDE/Editor files
.sublime-gulp.cache
.sublime-gulp-tmp.js
sublime-gulp.log
*.sublime-workspace
*.sublime-project
