avatar.png
config.cson
ffmpeg.exe
music/
!src/plugins/music/

dist/
node_modules/
npm-debug.log*
yarn-error.log

# System files
.DS_Store
desktop.ini
Thumbs.db

# IDE/Editor files
.sublime-gulp.cache
.sublime-gulp-tmp.js
sublime-gulp.log
*.sublime-workspace
*.sublime-project
